<% layout('layouts/boilerplate') %>

<%- include('../partials/navbar') %>


     <div class="row">
      <%- include('../partials/flash') %>
       
        <%for(let item of products){%>
            <div class="col-lg-4 mt-3">  
                <!-- mt-3 is  to give margin top -->
 <!-- card mx-auto   central align the things -->
                <div class="card shadow mx-auto" style="width: 18rem;">  
                    <img src="<%=item.img%>" class="card-img-top" alt="...">
                     <span class="badge rounded-pill bg-light text-dark w-25 position-absolute translate middle-y" style="top:41%; left:5%"><%=item.avgRating%> &star; | <%=item.reviews.length%>  </span>
                    <div class="card-body">
                      <h2 class="card-title"><%=item.name%></h2>
                      <h2 class="card-title"></h2>
                      <h5>&#8377; <%=item.price%></h5>
                      <p class="card-text"><%=item.desc%></p>
                      <%if(item.reviews.length) {%>
                      <p class="text-muted"><%=item.reviews.length%>  reviews</p>
                      <%} else {%>
                        <p class="text-muted">No reviews</p>

                      <%}%>
                      <a href="products/<%=item._id%>" class="btn btn-sm btn-info">View</a>
                       
                     <% if(currentUser  && currentUser.role ==='seller'){%>
                      <form class="d-inline-block" action="/product/<%=item._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                      </form>
                    <%}%>
                    </div>
                  </div>

                
            </div>
        <% }%>
       
     </div>

     <script src="/js/common.js"></script>
    
    
